@import "variables.less";

.about-pet {
  margin: 0;
  padding: 0 0 24px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }

  &::after {
    content: "";
    background-color: #ebebeb;
    width: 320px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: -20px;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    font-family: @oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 14px;
    height: 45px;
    vertical-align: middle;
    align-items: center;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: normal;
      height: 52px;
      margin-bottom: 20px;
    }
  }

  &__label:last-of-type {
    margin-bottom: 0;


    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  &__input {
    flex-grow: 1;
    margin-left: 14px;
    height: 45px;
    display: flex;
    box-sizing: border-box;
    font-family: @oswald;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #444444;
    padding: 14px 15px 13px 15px;
    outline: 1px solid #e7e7e7;
    border: 0;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: normal;
      height: 52px;
      padding: 14px 15px 13px 19px;
    }
  }

  &__input:hover {
    outline: 1px solid #cdcdcd;
    border: 0;
  }

  &__input:focus {
    outline: 2px solid #444444;
    border: 0;
  }

  &__input:focus:invalid {
    outline: 2px solid #ff8282;
    border: 0;
  }
}
