@import "variables.less";

.alive-example {
  background-color: #eaeaea;
  padding: 25px 20px 0 20px;

  &__title {
    color: @black;
    text-align: start;
    font-family: @oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 0 40px 0;
  }

  &__description {
    margin: 0 0 20px 0;
  }

  &__expenses {
    color: @black;
    text-align: center;
    font-family: @oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin: 20px 0 0 0;
  }
}
