@import "variables.less";

.comment {
  margin: 0 0 19px 0;
  padding: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 40px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 65px;
  }

  &::before {
    content: "";
    width: 159px;
    height: 2px;
    background-color: @light-green;
    position: absolute;
    right: -20px;
    top: -47px;

    @media (min-width: @tablet-width) {
      width: 476px;
      top: -102px;
      right: -30px;
    }

    @media (min-width: @desktop-width) {
      width: 1108px;
      top: -88px;
      right: -110px;
    }
  }

  &::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: @light-green;
    position: absolute;
    left: -40px;
    top: -88px;
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      width: 30px;
      left: -30px;
      top: -102px;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      top: -88px;
      left: -110px;
    }
  }

  &__textarea {
    margin: 0;
    outline: 1px solid #e7e7e7;
    border: 0;
    font-family: @oswald;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    width: 280px;
    height: 150px;
    padding: 12px 10px 14px 16px;
    box-sizing: border-box;
    resize: none;

    @media (min-width: @tablet-width) {
      width: 628px;
      height: 175px;
      font-size: 20px;
      line-height: 30px;
      padding: 10px 10px 14px 20px;
    }

    @media (min-width: @desktop-width) {
      width: 1220px;
      height: 174px;
      font-size: 20px;
      line-height: 30px;
      padding: 14px 14px 14px 20px;
    }
  }

  & .select-program__group-legend {
    margin-bottom: 38px;

    @media (min-width: @tablet-width) {
      margin-bottom: 87px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 76px;
    }
  }
}
