@import "variables.less";

.contacts {
  padding: 0;
  margin: 0 0 24px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 40px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    padding: 0;
    margin-bottom: 46px;
  }

  &::before {
    content: "";
    width: 40px;
    height: 2px;
    background-color: @light-green;
    position: absolute;
    left: -40px;
    top: -90px;
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      top: -89px;
      left: -110px;
    }
  }

  &::after {
    content: "";
    width: 93px;
    height: 2px;
    background-color: @light-green;
    position: absolute;
    right: -20px;
    top: -70px;

    @media (min-width: @tablet-width) {
      width: 146px;
      top: -90px;
      right: -30px;
    }

    @media (min-width: @desktop-width) {
      width: 778px;
      top: -89px;
      right: -110px;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    font-family: @oswald;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 14px;
    height: 45px;
    vertical-align: middle;
    align-items: center;
    position: relative;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: normal;
      height: 52px;
      margin-bottom: 20px;
    }
  }

  &__label:last-of-type {
    margin-bottom: 0;
  }

  &__input:hover {
    outline: 1px solid #cdcdcd;
    border: 0;
  }

  &__input:focus {
    outline: 2px solid #444444;
    border: 0;
  }

  &__input:focus:invalid {
    outline: 2px solid #ff8282;
    border: 0;
  }

  &__input-email-icon {
    position: absolute;
    top: 16.5px;
    right: 13.5px;
    z-index: 3;
  }

  &__input-phone-icon {
    position: absolute;
    top: 16.5px;
    right: 13.5px;
    z-index: 3;
  }

  &__input:focus .contacs__input-phone-color {
    stroke: @light-green;
  }

  &__input:focus .contacs__input-email-color {
    stroke: @light-green;
  }

  &__input:focus:invalid .contacs__input-phone-color {
    stroke: #ff8282;
  }

  &__input:focus:invalid .contacs__input-email-color {
    stroke: #ff8282;
  }

  &__input {
    flex-grow: 1;
    margin-left: 15px;
    height: 45px;
    display: flex;
    box-sizing: border-box;
    font-family: @oswald;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 36px 16px 14px;
    outline: 1px solid #e7e7e7;
    border: 0;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: normal;
      height: 52px;
      padding: 16px 36px 16px 18px;
    }
  }
}
