@import "variables.less";

.extra {
  padding: 0;
  margin: 0 0 34px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 40px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 61px;
  }

  &::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: @light-green;
    position: absolute;
    left: -40px;
    top: -88px;
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      top: -88px;
      left: -110px;
    }
  }

  &::after {
    width: 139px;
    height: 2px;
    background-color: @light-green;
    position: absolute;
    right: -20px;
    top: -43px;
    content: "";

    @media (min-width: @tablet-width) {
      width: 446px;
      top: -88px;
      right: -30px;
    }

    @media (min-width: @desktop-width) {
      width: 1078px;
      top: -88px;
      right: -110px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 284px);
      row-gap: 32px;
      column-gap: 60px;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: repeat(4, 245px);
      column-gap: 80px;
    }
  }

  &__item {
    height: 30px;
    margin-bottom: 13px;

    @media (min-width: @tablet-width) {
      height: 40px;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__control {
    position: relative;
    display: block;
    padding-left: 45px;
    height: 30px;

    @media (min-width: @tablet-width) {
      height: 40px;
      padding-left: 60px;
    }
  }

  &__control:hover .extra__control-mark {
    border: 1px solid #bababa;
  }

  &__control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;

    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &__control:hover .extra__control-input[type="radio"]:checked {
    border: 1px solid #bababa;
  }

  &__control-label {
    font-family: @oswald;
    font-size: 16px;
    text-transform: uppercase;
    height: 30px;
    display: flex;
    align-items: center;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: normal;
      height: 40px;
    }
  }

  &__control-input[type="checkbox"]:checked + .extra__control-mark::before {
    position: absolute;
    top: 13px;
    left: 11px;
    width: 15px;
    height: 2px;
    background-color: @light-green;
    transform: rotate(135deg);
    content: "";

    @media (min-width: @tablet-width) {
      top: 17px;
      left: 14px;
      width: 20px;
      height: 2px;
    }
  }

  &__control-input[type="checkbox"]:checked + .extra__control-mark::after {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 10px;
    height: 2px;
    background-color: @light-green;
    transform: rotate(45deg);
    content: "";

    @media (min-width: @tablet-width) {
      top: 20px;
      left: 8px;
      width: 12px;
      height: 2px;
    }
  }
}
