.extra-products {
  padding: 0 20px 0 20px;
}

.extra-products__title {
  margin: 25px 0 36px 0;
  color: #000000;
  text-align: start;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.extra-products__title::before {
  content: "";
  width: 54px;
  height: 2px;
  position: absolute;
  background-color: #68b738;
  top: 16px;
  right: -20px;
}

.extra-products__title::after {
  content: "";
  width: 280px;
  height: 1px;
  position: absolute;
  background-color: #cdcdcd;
  bottom: -36px;
  left: 0;
}

.extra-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.extra-products__item {
  padding: 13px 0 19px 0;
  position: relative;
}

.extra-products__item::after {
  content: "";
  width: 280px;
  height: 1px;
  position: absolute;
  background-color: #cdcdcd;
  bottom: 0;
  left: 0;
}
