@import "variables.less";

.gift {
  background-image: url("../img/gift-cat.png");
  margin: 35px 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-cat@2x.png");
    background-size: 280px auto;
  }

  @media (min-width: @tablet-width) {
    margin: 69px 0 76px 0;
    background-size: cover;
    background-position: center -320px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    background-size: cover;
  }

  &__description {
    color: @white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 126px 0 0 0;

    @media (min-width: @tablet-width) {
      margin: 0 0 0 351px;
      max-width: 160px;
    }

    @media (min-width: @desktop-width) {
      margin: 142px 0 0 0;
    }
  }

  &__icon-position {
    background-image: url("../img/gift-icon.svg");
    background-repeat: no-repeat;
    background-position: center 60px;
    width: 280px;
    padding: 57px 60px 42px 59px;
    box-sizing: border-box;
    display: block;
    height: auto;

    @media (min-width: @tablet-width) {
      padding: 70px;
      width: 708px;
      background-position: 77px center;
    }

    @media (min-width: @desktop-width) {
      width: 245px;
      padding: 42px;
      background-position: center 55px;
    }
  }
}
