.logo {
  &__header {
    display: flex;
    width: 190px;
    justify-content: space-between;
    align-items: center;

    @media (min-width: @tablet-width) {
      width: 174px;
    }

    @media (min-width: @desktop-width) {
      width: 174px;
    }

    &:hover .logo__image-color {
      opacity: 0.8;
    }

    &:active .logo__image-color {
      opacity: 0.6;
    }
  }

  &__footer {
    &:hover .logo__image-color {
      opacity: 0.8;
    }

    &:active .logo__image-color {
      opacity: 0.6;
    }
  }
}
