.main-information {
  text-align: center;
}

.main-information__title {
  color: #fff000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;
}

.main-information__description {
  color: #fff000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.main-information__link {
  height: 40px;
  padding: 8px 74px 8px 74px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  cursor: pointer;
}
