@import "variables.less";

.main-information {
  text-align: center;
  padding: 27px 20px 0 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 62px 30px 0 30px;
    display: grid;
  }

  @media (min-width: @desktop-width) {
    padding: 104px 80px 249px 80px;
  }

  &__title {
    color: @white;
    text-align: center;
    font-family: @oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    margin-bottom: 25px;
    z-index: 3;
    position: relative;

    @media (min-width: @tablet-width) {
      color: @black;
      font-size: 60px;
      line-height: 60px;
      text-align: start;
      max-width: 450px;
      margin-left: 90px;
      margin-bottom: 40px;
    }

    @media (min-width: @desktop-width) {
      color: @black;
      font-size: 60px;
      line-height: 60px;
      text-align: start;
      max-width: 450px;
      margin-left: 110px;
      margin-bottom: 40px;
    }
  }

  &__description {
    color: @white;
    font-family: @oswald;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 29px;
    z-index: 3;
    position: relative;

    @media (min-width: @tablet-width) {
      color: @black;
      text-align: start;
      font-size: 20px;
      line-height: 20px;
      margin-left: 90px;
      margin-bottom: 21px;
    }

    @media (min-width: @desktop-width) {
      color: @black;
      text-align: start;
      font-size: 20px;
      line-height: 20px;
      margin-left: 110px;
      margin-bottom: 52px;
    }
  }

  &__image {
    z-index: 3;
    position: relative;

    @media (min-width: @tablet-width) {
      order: 4;
      margin: 0 auto;
      display: block;
      margin-top: 0;
      width: 709px;
      height: 609px;
    }

    @media (min-width: @desktop-width) {
      order: 4;
      position: absolute;
      top: 26px;
      right: 330px;
      margin: 0;
      width: 552px;
      height: 499px;
    }
  }

  &__link {
    padding: 11px 10px 11px 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: center;
    font-family: @oswald;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 400;
    color: @white;
    background-color: @light-green;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    z-index: 3;
    order: 3;

    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 244px;
      margin-left: 90px;
      line-height: 20px;
      font-size: 20px;
      padding: 17px 10px 17px 10px;
      margin-top: -580px;
      max-height: 54px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 244px;
      margin-left: 110px;
      line-height: 20px;
      font-size: 20px;
      padding: 17px 10px 17px 10px;
      margin-top: -0;
    }
  }

  &__link:hover {
    background-color: @dark-green;
  }

  &__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
