@import "variables.less";

.main-header {
  padding-left: auto;
  padding-right: auto;

  &__wrapper {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 13px 20px 11px 20px;
    align-items: center;
    box-sizing: border-box;
    position: relative;

    @media (min-width: @tablet-width) {
      width: 708px;
      padding: 25px 0 0 0;
    }

    @media (min-width: @desktop-width) {
      width: 1220px;
      padding: 56px 0 0 0;
    }
  }

  &__wrapper::after {
    content: "";
    position: absolute;
    background-color: #d9d9d9;
    width: 320px;
    height: 1px;
    bottom: 0;
    left: 0;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &__wrapper-position {
    margin: 0 auto;
  }
}
