@import "variables.less";

.main-footer {
  &__wrapper {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
  }

  &__list {
    margin: 0;
    list-style-type: none;
    padding: 40px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;

    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
      padding: 55px 0;
      align-items: center;
      width: 708px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: space-between;
      padding: 66px 110px 66px 110px;
      width: 1440px;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    position: relative;
    min-height: 24px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  &__item::after {
    content: "";
    height: 1px;
    width: 280px;
    position: absolute;
    bottom: -20px;
    background-color: #d9d9d9;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &__item:last-child {
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  &__item:last-child:hover .htmlacademy__icon-color {
    fill: @light-green;
  }

  &__item:last-child::after {
    content: "";
    height: 0;
    width: 280px;
    position: absolute;
    bottom: -20px;
    background-color: #d9d9d9;
  }
}
