@import "variables.less";

.product {
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
  }

  &:last-child {
    @media (min-width: @tablet-width) {
      background-color: #ffffff;
      border: 2px solid #f2f2f2;
    }
  }

  &::after {
    content: "";
    background-color: #ebebeb;
    width: 320px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: -20px;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    margin-bottom: 9px;

    @media (min-width: @tablet-width) {
      display: block;
      text-align: center;
    }

    @media (min-width: @desktop-width) {
      display: block;
      text-align: center;
    }
  }

  &__image-1 {
    @media (min-width: @tablet-width) {
      width: 168px;
      height: 172px;
    }
  }

  &__image-2 {
    @media (min-width: @tablet-width) {
      width: 168px;
      height: 206px;
    }
  }

  &__info {
    flex-grow: 1;
  }

  &__title {
    font-family: @oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #222222;
    margin: 0;
    margin-bottom: 16px;
    width: 80px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 24px;
      width: 150px;
      margin: 122px auto 21px auto;
    }

    @media (min-width: @desktop-width) {
      font-size: 20px;
      line-height: 21px;
      width: 145px;
    }
  }

  &__title-more {
    margin-bottom: 8px;
    font-family: @oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #222222;
    text-align: center;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 24px;
      width: 150px;
      margin: 0 auto 23px auto;
    }

    @media (min-width: @desktop-width) {
      font-size: 20px;
      line-height: 21px;
      width: 145px;
      margin: 0 auto 23px auto;
    }
  }

  &__description {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 21px 0;

    @media (min-width: @tablet-width) {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      margin: 0 auto 92px auto;
      width: 165px;
    }
  }

  &__characteristics {
    margin: 0;
  }

  &__characteristics-item {
    display: flex;
    justify-content: space-between;
    position: relative;


    @media (min-width: @tablet-width) {
      margin-bottom: 16px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 18px;
    }
  }

  &__characteristics-item:last-child {
    @media (min-width: @tablet-width) {
      margin-bottom: 42px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 42px;
    }
  }

  &__characteristics-item::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
    position: absolute;
    bottom: -9px;
    left: 0;
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  .product__characteristics-description {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    margin: 0;

    @media (min-width: @tablet-width) {
      font-size: 16px;
      line-height: 16px;
    }

    @media (min-width: @desktop-width) {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__characteristics-definite {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    margin: 0;

    @media (min-width: @tablet-width) {
      font-size: 16px;
      line-height: 16px;
    }

    @media (min-width: @desktop-width) {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__link-pic {
    display: block;
    width: auto;
    height: auto;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: -45px;
      right: 0;
      left: 0;
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      top: -52px;
      right: 0;
      left: 0;
    }
  }

  &:nth-child(even) .product__link-pic {
    display: block;
    width: auto;
    height: auto;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: -77px;
      right: 0;
      left: 0;
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      top: -80px;
      right: 0;
      left: 0;
    }
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
  }

  &__button {
    background-color: #f2f2f2;
    text-align: center;
    font-family: @oswald;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border: 0;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: inherit;
  }

  &__button:hover {
    background-color: #ebebeb;
  }

  &__button:active {
    color: rgba(68, 68, 68, 0.3);
  }

  &__link-more {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    margin: 6px auto 23px auto;

    @media (min-width: @tablet-width) {
      width: 60px;
      height: 60px;
      margin: 11px auto 49px auto;
    }

    @media (min-width: @desktop-width) {
      width: 60px;
      height: 60px;
      margin: 12 auto 40px auto;
    }
  }

  &__link-more::before,
  &__link-more::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    top: 15px;
    left: 0;

    @media (min-width: @tablet-width) {
      width: 60px;
      top: 30px;
    }

    @media (min-width: @desktop-width) {
      width: 60px;
      top: 30px;
    }
  }

  &__link-more::after {
    transform: rotate(90deg);
  }
}
