@import "variables.less";

.programs-list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  position: relative;
  z-index: 3;

  @media (min-width: @desktop-width) {
    display: flex;
  }

  &__item {
    background-color: #f2f2f2;
    margin-bottom: 20px;
    padding: 20px;

    @media (min-width: @tablet-width) {
      margin-bottom: 30px;
      padding: 77px 30px 55px 52px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      margin-right: 80px;
      padding: 41px 52px 53px 52px;
      width: 570px;
      box-sizing: border-box;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }

  &__maim {
    display: flex;
    position: relative;
  }

  &__image {
    margin-right: 20px;
    position: absolute;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 0;
      right: 33px;
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      top: 0;
      left: 0;
    }
  }

  &__image-2 {
    left: -7px;
    position: absolute;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      left: auto;
    }

    @media (min-width: @desktop-width) {
      top: 6px;
      left: 0;
    }
  }
}
