@import "variables.less";

.programs-list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  position: relative;
  z-index: 3;

  @media (min-width: @desktop-width) {
    display: flex;
  }

  &__item {
    background-color: #f2f2f2;
    margin-bottom: 20px;
    padding: 20px 20px 24px 20px;

    @media (min-width: @tablet-width) {
      margin-bottom: 30px;
      padding: 77px 30px 55px 52px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      margin-right: 80px;
      padding: 41px 52px 53px 52px;
      width: 570px;
      box-sizing: border-box;
    }
  }

  &__item:first-child {
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 21px 20px;

    @media (min-width: @tablet-width) {
      background-position: 445px 81px;
      background-size: 200px 211px;
    }

    @media (min-width: @desktop-width) {
      background-position: 52px 41px;
      background-size: 100px 106px;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
    margin-right: 0;
    background-image: url("../img/cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 13px 24px;
    background-size: 67px 50px;

    @media (min-width: @tablet-width) {
      background-position: 410px 94px;
      background-size: 268px 200px;
    }

    @media (min-width: @desktop-width) {
      background-position: 33px 47px;
      background-size: 134px 100px;
    }
  }

  &__maim {
    display: flex;
    position: relative;
  }

  &__image-1 {
    margin-right: 20px;
    position: absolute;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 0;
      right: 33px;
      margin: 0;
      width: 200px;
      height: 211px;
    }

    @media (min-width: @desktop-width) {
      top: 0;
      left: 0;
      width: 100px;
      height: 106px;
    }
  }

  &__image-2 {
    left: -7px;
    position: absolute;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      left: auto;
      width: 268px;
      height: 200px;
    }

    @media (min-width: @desktop-width) {
      top: 6px;
      left: 0;
      width: 134px;
      height: 100px;
    }
  }
}
