@import "variables.less";

.select-program {
  &__wrapper {
    padding: 0 20px;

    @media (min-width: @tablet-width) {
      padding: 0 30px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 50px;
    }
  }

  &__title {
    color: @black;
    font-family: @oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 27px 0 37px 0;
    text-align: start;

    @media (min-width: @tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin: 66px 0 54px 40px;
    }

    @media (min-width: @desktop-width) {
      margin: 74px 0 56px 0;
    }
  }

  &__description {
    color: @black;
    font-family: @oswald;
    text-transform: uppercase;
    text-align: start;
    margin: 0 0 39px 0;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 66px 40px;
    }

    @media (min-width: @desktop-width) {
      margin: 0 0 66px 0;
    }
  }

  &__wrapper-2 {
    @media (min-width: @tablet-width) {
      padding: 0 40px;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 570px);
      column-gap: 80px;
      padding: 0;
    }
  }

  &__wrapper-3 {
    @media (min-width: @tablet-width) {
      padding: 0 40px;
      display: grid;
      grid-template-columns: repeat(2, 284px);
      column-gap: 60px;
      height: 52px;
      margin-bottom: 72px;
      align-items: center;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 570px 245px;
      column-gap: 80px;
      padding: 0;
      height: 52px;
      margin-bottom: 82px;
    }
  }

  &__group {
    border: 0;
    margin: 0;
  }

  &__group-legend {
    color: @black;
    font-family: @oswald;
    font-size: 24px;
    line-height: 26px;
    padding: 0;

    @media (min-width: @tablet-width) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__group-legend:nth-child(1) {
    margin-bottom: 35px;

    @media (min-width: @tablet-width) {
      margin-bottom: 76px;
    }
  }

  &__group-legend:nth-child(2) {
    margin-bottom: 38px;

    @media (min-width: @tablet-width) {
      margin-bottom: 87px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 76px;
    }
  }

  &__group-legend:nth-child(3) {
    margin-bottom: 34px;

    @media (min-width: @tablet-width) {
      margin-bottom: 57px;
    }
  }

  &__button {
    width: 100%;
    background-color: @light-green;
    text-align: center;
    font-family: @oswald;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: @white;
    border: 0;
    padding: 10px 44px;
    box-sizing: border-box;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: normal;
      padding: 11px 44px;
      height: 52px;
    }
  }

  &__button:hover {
    background-color: @dark-green;
  }

  &__button:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &__important {
    color: @black;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
    margin-top: 21px;
    margin-bottom: 32px;

    @media (min-width: @tablet-width) {
      margin: 0 auto 0 0;
    }

    @media (min-width: @desktop-width) {
      margin: 0 auto 0 0;
    }
  }

  &__group:nth-child(1) {
    @media (min-width: @tablet-width) {
      margin-bottom: 72px;
    }
  }

  &__group:nth-child(2) {
    @media (min-width: @tablet-width) {
      margin-bottom: 75px;
    }
  }
}
