@import "variables.less";

.social-media {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-self: center;
  flex-wrap: wrap;

  &__item {
    margin-right: 26px;
    position: relative;
  }

  &__item:last-of-type {
    margin-right: 0;
  }

  &__link:hover .social-media__icon-color {
    fill: @light-green;
  }

  &__link:active {
    opacity: 0.3;
  }

  &__icon {
    --svg-color: #666666;
  }

  &__icon:hover {
    --svg-color: @light-green;
  }
}
