.social-media {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-self: center;
  flex-wrap: wrap;
}

.social-media__item {
  margin-right: 26px;
  position: relative;
}

.social-media__item:last-of-type {
  margin-right: 0;
}

.social-media__link:hover .social-media__icon-color {
  fill: #68b738;
}

.social-media__link:active {
  opacity: 0.3;
}
