.page {
  height: 100%;
}
.page__body {
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
.main-header {
  padding-left: auto;
  padding-right: auto;
}
.main-header__wrapper {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 13px 20px 14px 20px;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    width: 708px;
    padding: 25px 0 0 0;
  }
}
@media (min-width: 1440px) {
  .main-header__wrapper {
    width: 1220px;
    padding: 56px 0 0 0;
  }
}
.main-header__wrapper::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 320px;
  height: 1px;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .main-header__wrapper::after {
    display: none;
  }
}
.main-header__wrapper-position {
  margin: 0 auto;
}
.main-nav {
  position: relative;
  align-self: center;
  background-color: #ffffff;
  width: 320px;
}
@media (min-width: 768px) {
  .main-nav {
    width: 436px;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    width: 475px;
    background: none;
  }
}
.main-nav__toggle {
  position: absolute;
  top: -28px;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .popover {
  position: relative;
  margin-left: -40px;
  margin-bottom: -4px;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 320px) {
  .main-nav--closed .popover {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav--closed .popover {
    display: block;
  }
}
.popover {
  position: absolute;
  z-index: 5;
  background-color: #ffffff;
  top: 12px;
  right: -20px;
}
@media (min-width: 768px) {
  .popover {
    position: relative;
    width: 436px;
    top: 0;
    right: 0;
  }
}
@media (min-width: 1440px) {
  .popover {
    width: 475px;
    background-color: transparent;
  }
}
.popover__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 320px;
  position: relative;
}
@media (min-width: 768px) {
  .popover__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 436px;
  }
}
@media (min-width: 1440px) {
  .popover__list {
    width: 475px;
  }
}
.popover__list::before {
  content: "";
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .popover__list::before {
    display: none;
  }
}
.popover__item {
  position: relative;
}
.popover__item::before {
  content: "";
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .popover__item::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .popover__link--active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68b738;
    position: absolute;
    bottom: -8px;
    left: 0;
  }
}
@media (min-width: 1440px) {
  .popover__link-color--active::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: -8px;
    left: 0;
    z-index: 3;
  }
}
.popover__link {
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 24px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
@media (min-width: 768px) {
  .popover__link {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .popover__link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .popover__link-color {
    color: #ffffff;
  }
}
.main-information {
  text-align: center;
  padding: 27px 20px 0 20px;
  background-image: url("../img/main-info-cat.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-information {
    background-image: url("../img/main-info-cat@2x.jpg");
    background-size: 320px auto;
  }
}
@media (min-width: 768px) {
  .main-information {
    padding: 65px 30px 0 30px;
    background-image: none;
    display: grid;
  }
}
@media (min-width: 1440px) {
  .main-information {
    padding: 110px 80px 265px 80px;
  }
}
.main-information::before {
  content: "";
  background-color: #68b738;
  opacity: 0.85;
  width: 320px;
  height: 302px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
@media (min-width: 768px) {
  .main-information::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-information::before {
    display: block;
    width: 720px;
    height: 694px;
    top: -176px;
    right: 0;
    left: auto;
  }
}
@media (min-width: 1440px) {
  .main-information::after {
    content: "";
    position: absolute;
    width: 720px;
    height: 694px;
    top: -176px;
    right: 0;
    left: auto;
    background-image: url("../img/main-info-cat-desktop.jpg");
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .main-information::after {
    background-image: url("../img/main-info-cat-desktop@2x.jpg");
    background-size: 720px auto;
  }
}
.main-information__title {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  z-index: 3;
  position: relative;
}
@media (min-width: 768px) {
  .main-information__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    max-width: 450px;
    margin-left: 90px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .main-information__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    max-width: 450px;
    margin-left: 80px;
    margin-bottom: 40px;
  }
}
.main-information__description {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
  z-index: 3;
  position: relative;
}
@media (min-width: 768px) {
  .main-information__description {
    color: #000000;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    margin-left: 90px;
    margin-bottom: 21px;
  }
}
@media (min-width: 1440px) {
  .main-information__description {
    color: #000000;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    margin-left: 80px;
    margin-bottom: 50px;
  }
}
.main-information__image {
  z-index: 3;
  position: relative;
}
@media (min-width: 768px) {
  .main-information__image {
    order: 4;
    margin: 0 auto;
    display: block;
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  .main-information__image {
    order: 4;
    position: absolute;
    top: 30px;
    right: 330px;
    margin: 0;
  }
}
.main-information__link {
  padding: 11px 10px 11px 10px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  z-index: 3;
  order: 3;
}
@media (min-width: 768px) {
  .main-information__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 244px;
    margin-left: 90px;
    line-height: 20px;
    font-size: 20px;
    padding: 17px 10px 17px 10px;
    margin-top: -580px;
    max-height: 54px;
  }
}
@media (min-width: 1440px) {
  .main-information__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 244px;
    margin-left: 80px;
    line-height: 20px;
    font-size: 20px;
    padding: 17px 10px 17px 10px;
    margin-top: 0;
  }
}
.main-information__link:hover {
  background-color: #5eaa2f;
}
.main-information__link:active {
  color: rgba(255, 255, 255, 0.3);
}
.programs {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .programs {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .programs {
    padding: 0 110px;
  }
}
.programs__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;
  margin-top: 7px;
}
@media (min-width: 768px) {
  .programs__title {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .programs__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 73px;
    margin-left: 152px;
    margin-top: 36px;
  }
}
.programs__description {
  margin: 0;
  margin-top: 22px;
  color: #000000;
}
@media (min-width: 768px) {
  .programs__description {
    margin-top: 0;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Lato", sans-serif;
    max-width: 340px;
  }
}
@media (min-width: 1440px) {
  .programs__description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    max-width: 460px;
  }
}
.programs__to-catalog {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 42px;
  display: flex;
  text-align: start;
  position: relative;
  align-items: center;
}
@media (min-width: 768px) {
  .programs__to-catalog {
    font-size: 20px;
    line-height: normal;
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  .programs__to-catalog {
    font-size: 20px;
    line-height: normal;
    margin-top: 0;
  }
}
.programs__to-catalog::before {
  content: "";
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  top: -19px;
  left: 0;
}
@media (min-width: 768px) {
  .programs__to-catalog::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .programs__to-catalog::before {
    display: none;
  }
}
.programs__narrow {
  margin-left: 15px;
}
.programs__narrow-big {
  display: none;
  margin-left: 15px;
}
.programs__to-catalog:hover .programs__narrow {
  display: none;
}
.programs__to-catalog:hover .programs__narrow-big {
  display: block;
}
.programs__to-catalog:active .programs__narrow {
  display: none;
}
.programs__to-catalog:active .programs__narrow-big {
  opacity: 0.3;
}
.programs__to-catalog:active {
  opacity: 0.3;
}
.programs-list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  position: relative;
  z-index: 3;
}
@media (min-width: 1440px) {
  .programs-list {
    display: flex;
  }
}
.programs-list__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 20px;
}
@media (min-width: 768px) {
  .programs-list__item {
    margin-bottom: 30px;
    padding: 77px 30px 55px 52px;
  }
}
@media (min-width: 1440px) {
  .programs-list__item {
    margin-bottom: 0;
    margin-right: 80px;
    padding: 41px 52px 53px 52px;
    width: 570px;
    box-sizing: border-box;
  }
}
.programs-list__item:last-child {
  margin-bottom: 0;
  margin-right: 0;
}
.programs-list__maim {
  display: flex;
  position: relative;
}
.programs-list__image {
  margin-right: 20px;
  position: absolute;
}
@media (min-width: 768px) {
  .programs-list__image {
    position: absolute;
    top: 0;
    right: 33px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .programs-list__image {
    top: 0;
    left: 0;
  }
}
.programs-list__image-2 {
  left: -7px;
  position: absolute;
}
@media (min-width: 768px) {
  .programs-list__image-2 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    left: auto;
  }
}
@media (min-width: 1440px) {
  .programs-list__image-2 {
    top: 6px;
    left: 0;
  }
}
.how-it-works {
  padding: 0 20px;
  position: relative;
}
@media (min-width: 768px) {
  .how-it-works {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .how-it-works {
    padding: 0 110px;
  }
}
.how-it-works::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  position: absolute;
  bottom: -48px;
  left: 0;
  display: none;
}
@media (min-width: 768px) {
  .how-it-works::after {
    display: block;
  }
}
@media (min-width: 1440px) {
  .how-it-works::after {
    display: none;
  }
}
.how-it-works__title {
  color: #000000;
  text-align: start;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .how-it-works__title {
    margin-top: 45px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .how-it-works__title {
    margin-top: 71px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}
.how-it-works__list {
  list-style-type: none;
  margin: 40px 0 49px 0;
  padding: 0;
  position: relative;
}
@media (min-width: 768px) {
  .how-it-works__list {
    display: grid;
    grid-template-columns: 246px 246px;
    grid-template-rows: 280px 280px;
    row-gap: 37px;
    column-gap: 132px;
    margin: 0 0 48px 0;
  }
}
@media (min-width: 1440px) {
  .how-it-works__list {
    display: grid;
    grid-template-columns: repeat(4, 246px);
    grid-template-rows: 280px;
    row-gap: 37px;
    column-gap: 78px;
  }
}
.how-it-works__item {
  display: flex;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
}
@media (min-width: 768px) {
  .how-it-works__item {
    display: block;
    padding-left: 0;
    margin-bottom: 0;
  }
}
.how-it-works__item:nth-child(1) {
  background-image: url("../img/leaf-icon.svg");
  background-position: left center;
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 768px) {
  .how-it-works__item:nth-child(1) {
    background-position: left 40px;
    background-image: url("../img/leaf-icon-big.svg");
    z-index: 2;
  }
}
.how-it-works__item:nth-child(2) {
  background-image: url("../img/powder-icon.svg");
  background-position: left center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .how-it-works__item:nth-child(2) {
    background-position: left 40px;
    background-image: url("../img/powder-icon-big.svg");
  }
}
.how-it-works__item:nth-child(3) {
  background-image: url("../img/cutlery-icon.svg");
  background-position: left center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .how-it-works__item:nth-child(3) {
    background-position: left 40px;
    background-image: url("../img/cutlery-icon-big.svg");
  }
}
.how-it-works__item:nth-child(4) {
  background-image: url("../img/time-icon.svg");
  background-position: left center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .how-it-works__item:nth-child(4) {
    background-position: left 40px;
    background-image: url("../img/time-icon-big.svg");
  }
}
.how-it-works__item:last-child {
  margin-bottom: 0;
}
.how-it-works__description {
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .how-it-works__description {
    margin-top: 151px;
    max-width: 210px;
  }
}
.how-it-works__number {
  display: none;
  font-family: "Oswald", sans-serif;
  color: #f2f2f2;
  font-size: 280px;
  font-weight: 400;
  line-height: 280px;
  margin: -204px 0 0 90px;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .how-it-works__number {
    display: block;
  }
}
@media (min-width: 1440px) {
  .how-it-works__number {
    display: block;
  }
}
.alive-example {
  padding: 25px 20px 0 20px;
  position: relative;
  box-sizing: border-box;
  width: 320px;
}
@media (min-width: 768px) {
  .alive-example {
    background-color: #ffffff;
    padding: 21px 30px 100px 30px;
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .alive-example {
    padding: 20px 50px 75px 0;
    width: 1320px;
  }
}
@media (min-width: 768px) {
  .alive-example__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .alive-example__wrapper {
    display: block;
  }
}
.alive-example__title {
  color: #000000;
  text-align: start;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 40px 0;
}
@media (min-width: 768px) {
  .alive-example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 60px 0;
  }
}
@media (min-width: 1440px) {
  .alive-example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 146px 0;
  }
}
.alive-example__description {
  margin: 0 0 20px 0;
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) {
  .alive-example__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 55px 0;
  }
}
@media (min-width: 1440px) {
  .alive-example__description {
    font-size: 16px;
    line-height: 24px;
    max-width: 440px;
    margin: 0 0 69px 0;
  }
}
.alive-example__expenses-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) {
  .alive-example__expenses-wrapper {
    display: block;
    text-align: end;
  }
}
@media (min-width: 1440px) {
  .alive-example__expenses-wrapper {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
}
.alive-example__expenses {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .alive-example__expenses {
    text-align: end;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .alive-example__expenses {
    font-size: 20px;
    line-height: 20px;
  }
}
.alive-example__expenses:last-child {
  margin: 0 0 0 4px;
}
.stats-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 20px 0;
  position: relative;
  width: 280px;
  z-index: 3;
}
@media (min-width: 768px) {
  .stats-list {
    width: 366px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .stats-list {
    width: 366px;
    margin: 0 0 55px 0;
  }
}
.stats-list__item {
  position: relative;
  width: 124px;
  background-image: url("../img/stats-border.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .stats-list__item {
    background-image: url("../img/stats-border-big.svg");
    width: 162px;
    height: 77px;
  }
}
@media (min-width: 1440px) {
  .stats-list__item {
    width: 162px;
  }
}
.stats-list__item:last-child {
  margin-right: 0;
}
.stats-list__number {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .stats-list__number {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .stats-list__number {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 10px;
  }
}
.stats-list__border {
  position: absolute;
  left: 0;
  top: 0;
}
.stats-list__description {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  margin: 0 auto;
  max-width: 77px;
}
@media (min-width: 768px) {
  .stats-list__description {
    font-size: 14px;
    line-height: 14px;
    max-width: 125px;
  }
}
@media (min-width: 1440px) {
  .stats-list__description {
    font-size: 14px;
    line-height: 14px;
    max-width: 125px;
  }
}
.main-footer__wrapper {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}
.main-footer__list {
  margin: 0;
  list-style-type: none;
  padding: 40px 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-footer__list {
    display: flex;
    justify-content: space-between;
    padding: 55px 30px;
    align-items: center;
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .main-footer__list {
    display: flex;
    justify-content: space-between;
    padding: 66px 110px;
    width: 1440px;
  }
}
.main-footer__item {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  position: relative;
}
@media (min-width: 768px) {
  .main-footer__item {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .main-footer__item {
    margin-bottom: 0;
  }
}
.main-footer__item::after {
  content: "";
  height: 1px;
  width: 280px;
  position: absolute;
  bottom: -20px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .main-footer__item::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-footer__item::after {
    display: none;
  }
}
.main-footer__item:last-child {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-footer__item:last-child {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .main-footer__item:last-child {
    margin: 0;
  }
}
.main-footer__item:last-child:hover .htmlacademy__icon-color {
  fill: #68b738;
}
.main-footer__item:last-child::after {
  content: "";
  height: 0;
  width: 280px;
  position: absolute;
  bottom: -20px;
  background-color: #d9d9d9;
}
.location {
  position: relative;
}
.location__info {
  padding: 26px 20px;
  background-color: #ffffff;
  display: flex;
}
@media (min-width: 768px) {
  .location__info {
    padding: 60px 70px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .location__info {
    padding: 60px 80px;
    max-width: 565px;
    box-sizing: border-box;
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 5;
  }
}
.location__wrapper {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}
@media (min-width: 1440px) {
  .location__wrapper {
    background-color: #ffffff;
  }
}
.location__wrapper .location__info {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .location__wrapper .location__info {
    background-color: #ffffff;
  }
}
.location__info-gray {
  background-color: #f2f2f2;
}
.location__title {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .location__title {
    max-width: 170px;
    font-size: 20px;
    line-height: 26px;
  }
}
.location__address {
  line-height: 20px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .location__address {
    max-width: 160px;
    font-size: 16px;
    line-height: 20px;
  }
}
.location__map {
  margin-bottom: -4px;
  width: 100%;
  height: 362px;
}
@media (min-width: 768px) {
  .location__map {
    height: 400px;
  }
}
.social-media {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-self: center;
  flex-wrap: wrap;
}
.social-media__item {
  margin-right: 26px;
  position: relative;
}
.social-media__item:last-of-type {
  margin-right: 0;
}
.social-media__link:hover .social-media__icon-color {
  fill: #68b738;
}
.social-media__link:active {
  opacity: 0.3;
}
.htmlacademy {
  display: flex;
  justify-content: space-between;
  width: 280px;
}
@media (min-width: 768px) {
  .htmlacademy {
    width: 163px;
    justify-content: space-between;
  }
}
.htmlacademy__link {
  text-decoration: none;
  font-size: 16px;
  color: #444444;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.htmlacademy__link:active {
  opacity: 0.3;
}
.htmlacademy__pic:active {
  opacity: 0.3;
}
.products {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .products {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .products {
    padding: 0 110px;
  }
}
.products__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  text-align: start;
  margin-top: 27px;
  margin-bottom: 41px;
  position: relative;
}
@media (min-width: 768px) {
  .products__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 66px;
    margin-bottom: 163px;
  }
}
@media (min-width: 1440px) {
  .products__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 75px;
    margin-bottom: 165px;
  }
}
.products__title::after {
  content: "";
  width: 320px;
  position: absolute;
  height: 1px;
  background-color: #ebebeb;
  bottom: -41px;
  left: -20px;
}
@media (min-width: 768px) {
  .products__title::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .products__title::after {
    display: none;
  }
}
.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
    row-gap: 141px;
  }
}
@media (min-width: 1440px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 143px;
  }
}
.products__list-item {
  padding: 19px 0 25px 0;
}
@media (min-width: 768px) {
  .products__list-item {
    padding: 39px 36px;
    min-height: 430px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .products__list-item {
    padding: 40px 30px 40px 35px;
  }
}
.product {
  position: relative;
}
@media (min-width: 768px) {
  .product {
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) {
  .product:last-child {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
  }
}
.product::after {
  content: "";
  background-color: #ebebeb;
  width: 320px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: -20px;
}
@media (min-width: 768px) {
  .product::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .product::after {
    display: none;
  }
}
.product__wrapper {
  display: flex;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .product__wrapper {
    display: block;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .product__wrapper {
    display: block;
    text-align: center;
  }
}
.product__info {
  flex-grow: 1;
}
.product__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 14px;
  width: 80px;
}
@media (min-width: 768px) {
  .product__title {
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    margin: 122px auto 21px auto;
  }
}
@media (min-width: 1440px) {
  .product__title {
    font-size: 20px;
    line-height: 21px;
    width: 145px;
  }
}
.product__title-more {
  margin-bottom: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
}
@media (min-width: 768px) {
  .product__title-more {
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    margin: 0 auto 23px auto;
  }
}
@media (min-width: 1440px) {
  .product__title-more {
    font-size: 20px;
    line-height: 21px;
    width: 145px;
    margin: 0 auto 23px auto;
  }
}
.product__description {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px 0;
}
@media (min-width: 768px) {
  .product__description {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin: 0 auto 87px auto;
    width: 165px;
  }
}
.product__characteristics {
  margin: 0;
}
.product__characteristics-item {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 768px) {
  .product__characteristics-item {
    margin-bottom: 14px;
  }
}
@media (min-width: 1440px) {
  .product__characteristics-item {
    margin-bottom: 14px;
  }
}
@media (min-width: 768px) {
  .product__characteristics-item:last-child {
    margin-bottom: 42px;
  }
}
@media (min-width: 1440px) {
  .product__characteristics-item:last-child {
    margin-bottom: 42px;
  }
}
.product__characteristics-item::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;
  position: absolute;
  bottom: -9px;
  left: 0;
  display: none;
}
@media (min-width: 768px) {
  .product__characteristics-item::after {
    display: block;
  }
}
@media (min-width: 1440px) {
  .product__characteristics-item::after {
    display: block;
  }
}
.product .product__characteristics-description {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
@media (min-width: 768px) {
  .product .product__characteristics-description {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 1440px) {
  .product .product__characteristics-description {
    font-size: 16px;
    line-height: 16px;
  }
}
.product__characteristics-definite {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
@media (min-width: 768px) {
  .product__characteristics-definite {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 1440px) {
  .product__characteristics-definite {
    font-size: 16px;
    line-height: 16px;
  }
}
.product__link-pic {
  display: block;
  width: auto;
  height: auto;
}
@media (min-width: 768px) {
  .product__link-pic {
    position: absolute;
    bottom: 300px;
    right: 0;
    left: 0;
  }
}
@media (min-width: 1440px) {
  .product__link-pic {
    position: absolute;
    bottom: 310px;
    right: 0;
    left: 0;
  }
}
.product__link {
  cursor: pointer;
  text-decoration: none;
}
.product__button {
  background-color: #f2f2f2;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;
}
.product__button:hover {
  background-color: #ebebeb;
}
.product__button:active {
  color: rgba(68, 68, 68, 0.3);
}
.product__link-more {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  margin: 6px auto 23px auto;
}
@media (min-width: 768px) {
  .product__link-more {
    width: 60px;
    height: 60px;
    margin: 11px auto 49px auto;
  }
}
@media (min-width: 1440px) {
  .product__link-more {
    width: 60px;
    height: 60px;
    margin: 12 auto 40px auto;
  }
}
.product__link-more::before,
.product__link-more::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  top: 15px;
  left: 0;
}
@media (min-width: 768px) {
  .product__link-more::before,
  .product__link-more::after {
    width: 60px;
    top: 30px;
  }
}
@media (min-width: 1440px) {
  .product__link-more::before,
  .product__link-more::after {
    width: 60px;
    top: 30px;
  }
}
.product__link-more::after {
  transform: rotate(90deg);
}
.order {
  background-color: #68b738;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  padding: 10px 0;
  cursor: pointer;
  display: block;
  width: 100%;
  text-decoration: none;
}
.order:hover {
  background-color: #5eaa2f;
}
.order:active {
  color: rgba(255, 255, 255, 0.3);
}
.extra-products {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .extra-products {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .extra-products {
    padding: 0 110px;
  }
}
.extra-products__title {
  margin: 25px 0 36px 0;
  color: #000000;
  text-align: start;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}
@media (min-width: 768px) {
  .extra-products__title {
    font-size: 36px;
    line-height: 36px;
    margin: 68px 0 80px 40px;
  }
}
@media (min-width: 1440px) {
  .extra-products__title {
    font-size: 36px;
    line-height: 36px;
    margin: 68px 0 80px 0;
  }
}
@media (min-width: 1440px) {
  .extra-products__wrapper {
    display: grid;
    grid-template-columns: 895px 245px;
    column-gap: 80px;
    margin-bottom: 86px;
  }
}
.extra-products__title::before {
  content: "";
  width: 54px;
  height: 2px;
  position: absolute;
  background-color: #68b738;
  top: 16px;
  right: -20px;
}
@media (min-width: 768px) {
  .extra-products__title::before {
    width: 320px;
    top: 20px;
    right: -30px;
  }
}
@media (min-width: 1440px) {
  .extra-products__title::before {
    width: 952px;
    top: 20px;
    right: -110px;
  }
}
.extra-products__title::after {
  content: "";
  width: 280px;
  height: 1px;
  position: absolute;
  background-color: #cdcdcd;
  bottom: -36px;
  left: 0;
}
@media (min-width: 768px) {
  .extra-products__title::after {
    width: 30px;
    height: 2px;
    background-color: #68b738;
    top: 20px;
    left: -70px;
  }
}
@media (min-width: 1440px) {
  .extra-products__title::after {
    width: 70px;
    left: -110px;
  }
}
.extra-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .extra-products__list {
    border: 1px solid #cdcdcd;
    padding: 0 38px;
  }
}
@media (min-width: 1440px) {
  .extra-products__list {
    border: none;
    padding: 0;
  }
}
.extra-products__item {
  padding: 13px 0 19px 0;
  position: relative;
}
@media (min-width: 768px) {
  .extra-products__item {
    padding: 26px 0 28px 0;
  }
}
@media (min-width: 1440px) {
  .extra-products__item {
    width: 895px;
    display: grid;
    align-items: center;
    padding: 15px 0 17px 0;
    grid-template-columns: 570px 245px;
    column-gap: 80px;
  }
}
@media (min-width: 1440px) {
  .extra-products__item:first-child::before {
    width: 895px;
    content: "";
    height: 1px;
    position: absolute;
    background-color: #cdcdcd;
    top: 0;
    left: 0;
  }
}
.extra-products__item::after {
  content: "";
  width: 280px;
  height: 1px;
  position: absolute;
  background-color: #cdcdcd;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .extra-products__item::after {
    width: 708px;
    left: -38px;
    background-color: #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .extra-products__item::after {
    width: 895px;
    left: 0;
    background-color: #cdcdcd;
  }
}
.extra-product-item__title {
  margin: 0 0 13px 0;
  text-align: start;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .extra-product-item__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 25px 0;
  }
}
@media (min-width: 1440px) {
  .extra-product-item__title {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .extra-product-item__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .extra-product-item__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 245px);
    column-gap: 80px;
    align-items: center;
  }
}
.extra-product-item__quantity {
  display: flex;
  margin: 0 0 15px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .extra-product-item__quantity {
    margin: 0;
  }
}
.extra-product-item__quantity-description {
  line-height: 14px;
}
@media (min-width: 768px) {
  .extra-product-item__quantity-description {
    font-size: 16px;
    line-height: 20px;
  }
}
.extra-product-item__quantity-price {
  line-height: 14px;
}
@media (min-width: 768px) {
  .extra-product-item__quantity-price {
    margin-left: 55px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .extra-product-item .order {
    max-width: 244px;
  }
}
.gift {
  background-image: url("../img/gift-cat.png");
  margin: 35px 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .gift {
    background-image: url("../img/gift-cat@2x.png");
    background-size: 280px auto;
  }
}
@media (min-width: 768px) {
  .gift {
    margin: 69px 0 76px 0;
    background-size: cover;
    background-position: center -320px;
  }
}
@media (min-width: 1440px) {
  .gift {
    margin: 0;
    background-size: cover;
  }
}
.gift__description {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 126px 0 0 0;
}
@media (min-width: 768px) {
  .gift__description {
    margin: 0 0 0 351px;
    max-width: 160px;
  }
}
@media (min-width: 1440px) {
  .gift__description {
    margin: 142px 0 0 0;
  }
}
.gift__icon-position {
  background-image: url("../img/gift-icon.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
  width: 280px;
  padding: 57px 60px 42px 59px;
  box-sizing: border-box;
  display: block;
  height: auto;
}
@media (min-width: 768px) {
  .gift__icon-position {
    padding: 70px;
    width: 708px;
    background-position: 77px center;
  }
}
@media (min-width: 1440px) {
  .gift__icon-position {
    width: 245px;
    padding: 42px;
    background-position: center 55px;
  }
}
.select-program__wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .select-program__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .select-program__wrapper {
    padding: 0 110px;
  }
}
.select-program__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 27px 0 37px 0;
  text-align: start;
}
@media (min-width: 768px) {
  .select-program__title {
    font-size: 60px;
    line-height: 60px;
    margin: 66px 0 54px 40px;
  }
}
@media (min-width: 1440px) {
  .select-program__title {
    margin: 74px 0 56px 0;
  }
}
.select-program__description {
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: start;
  margin: 0 0 39px 0;
}
@media (min-width: 768px) {
  .select-program__description {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 66px 40px;
  }
}
@media (min-width: 1440px) {
  .select-program__description {
    margin: 0 0 66px 0;
  }
}
@media (min-width: 768px) {
  .select-program__wrapper-2 {
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .select-program__wrapper-2 {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .select-program__wrapper-3 {
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(2, 284px);
    column-gap: 60px;
    height: 52px;
    margin-bottom: 72px;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .select-program__wrapper-3 {
    display: grid;
    grid-template-columns: 570px 245px;
    column-gap: 80px;
    padding: 0;
    height: 52px;
    margin-bottom: 82px;
  }
}
.select-program__group {
  border: 0;
  margin: 0;
}
.select-program__group-legend {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  padding: 0;
}
@media (min-width: 768px) {
  .select-program__group-legend {
    font-size: 36px;
    line-height: 36px;
  }
}
.select-program__group-legend:nth-child(1) {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .select-program__group-legend:nth-child(1) {
    margin-bottom: 76px;
  }
}
.select-program__group-legend:nth-child(2) {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .select-program__group-legend:nth-child(2) {
    margin-bottom: 87px;
  }
}
@media (min-width: 1440px) {
  .select-program__group-legend:nth-child(2) {
    margin-bottom: 76px;
  }
}
.select-program__group-legend:nth-child(3) {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .select-program__group-legend:nth-child(3) {
    margin-bottom: 57px;
  }
}
.select-program__button {
  width: 100%;
  background-color: #68b738;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  padding: 10px 44px;
  box-sizing: border-box;
  cursor: pointer;
}
@media (min-width: 768px) {
  .select-program__button {
    font-size: 20px;
    line-height: normal;
    padding: 11px 44px;
    height: 52px;
  }
}
.select-program__button:hover {
  background-color: #5eaa2f;
}
.select-program__button:active {
  color: rgba(255, 255, 255, 0.3);
}
.select-program__important {
  color: #000000;
  text-align: center;
  font-weight: 400;
  line-height: 16px;
  margin-top: 21px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .select-program__important {
    margin: 0 auto 0 0;
  }
}
@media (min-width: 1440px) {
  .select-program__important {
    margin: 0 auto 0 0;
  }
}
@media (min-width: 768px) {
  .select-program__group:nth-child(1) {
    margin-bottom: 72px;
  }
}
@media (min-width: 768px) {
  .select-program__group:nth-child(2) {
    margin-bottom: 75px;
  }
}
.about-pet {
  margin: 0;
  padding: 0 0 24px 0;
  position: relative;
}
@media (min-width: 768px) {
  .about-pet {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .about-pet {
    padding: 0;
  }
}
.about-pet::after {
  content: "";
  background-color: #ebebeb;
  width: 320px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: -20px;
}
@media (min-width: 768px) {
  .about-pet::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .about-pet::after {
    display: none;
  }
}
.about-pet__label {
  display: flex;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 14px;
  height: 45px;
  vertical-align: middle;
  align-items: center;
}
@media (min-width: 768px) {
  .about-pet__label {
    font-size: 20px;
    line-height: normal;
    height: 52px;
    margin-bottom: 20px;
  }
}
.about-pet__label:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .about-pet__label:last-of-type {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .about-pet__label:last-of-type {
    margin-bottom: 0;
  }
}
.about-pet__input {
  flex-grow: 1;
  margin-left: 13px;
  height: 45px;
  display: flex;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  padding: 14px 15px 13px 15px;
  outline: 1px solid #e7e7e7;
  border: 0;
}
@media (min-width: 768px) {
  .about-pet__input {
    font-size: 20px;
    line-height: normal;
    height: 52px;
  }
}
.about-pet__input:hover {
  outline: 1px solid #cdcdcd;
  border: 0;
}
.about-pet__input:focus {
  outline: 2px solid #444444;
  border: 0;
}
.about-pet__input:focus:invalid {
  outline: 2px solid #ff8282;
  border: 0;
}
.weight {
  padding: 22px 0 45px 0;
  position: relative;
}
@media (min-width: 768px) {
  .weight {
    padding: 23px 27px 27px 27px;
    margin-bottom: 75px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .weight {
    padding: 24px 28px;
  }
}
.weight::after {
  content: "";
  background-color: #ebebeb;
  width: 320px;
  height: 1px;
  position: absolute;
  bottom: 26px;
  left: -20px;
}
@media (min-width: 768px) {
  .weight::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .weight::after {
    display: none;
  }
}
.weight__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.weight__item {
  margin-bottom: 13px;
  height: 30px;
}
@media (min-width: 768px) {
  .weight__item {
    height: 40px;
  }
}
.weight__item:last-child {
  margin-bottom: 0;
}
.weight__control {
  position: relative;
  display: block;
  padding-left: 45px;
  height: 30px;
}
@media (min-width: 768px) {
  .weight__control {
    height: 40px;
    padding-left: 60px;
  }
}
.weight__control:hover .weight__control-mark {
  border: 1px solid #bababa;
}
.weight__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .weight__control-mark {
    width: 40px;
    height: 40px;
  }
}
.weight__control:hover .weight__control-input[type="radio"]:checked {
  border: 1px solid #bababa;
}
.weight__control-label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  height: 30px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .weight__control-label {
    font-size: 20px;
    line-height: normal;
    height: 40px;
  }
}
.weight__control-input[type="radio"] + .weight__control-mark {
  border-radius: 50%;
}
.weight__control-input[type="radio"]:checked + .weight__control-mark::before {
  position: absolute;
  top: 8.3px;
  left: 8.3px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}
@media (min-width: 768px) {
  .weight__control-input[type="radio"]:checked + .weight__control-mark::before {
    top: 10.3px;
    left: 10.3px;
    width: 18px;
    height: 18px;
  }
}
.contacts {
  padding: 0;
  margin: 0 0 24px 0;
  position: relative;
}
@media (min-width: 768px) {
  .contacts {
    padding: 0 40px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    padding: 0;
    margin-bottom: 67px;
  }
}
.contacts::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  left: -40px;
  top: -88px;
  display: none;
}
@media (min-width: 768px) {
  .contacts::before {
    display: block;
  }
}
@media (min-width: 1440px) {
  .contacts::before {
    width: 70px;
    top: -88px;
    left: -110px;
  }
}
.contacts::after {
  content: "";
  width: 93px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  right: -20px;
  top: -69px;
}
@media (min-width: 768px) {
  .contacts::after {
    width: 146px;
    top: -88px;
    right: -30px;
  }
}
@media (min-width: 1440px) {
  .contacts::after {
    width: 778px;
    top: -88px;
    right: -110px;
  }
}
.contacts__label {
  display: flex;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 14px;
  height: 45px;
  vertical-align: middle;
  align-items: center;
}
@media (min-width: 768px) {
  .contacts__label {
    font-size: 20px;
    line-height: normal;
    height: 52px;
    margin-bottom: 20px;
  }
}
.contacts__label:last-of-type {
  margin-bottom: 0;
}
.contacts__input:hover {
  outline: 1px solid #cdcdcd;
  border: 0;
}
.contacts__input:focus {
  outline: 2px solid #444444;
  border: 0;
}
.contacts__input:focus:invalid {
  outline: 2px solid #ff8282;
  border: 0;
}
.contacts__input-email {
  background-image: url("../img/email-icon.svg");
  background-repeat: no-repeat;
  background-position: 185px 15px;
}
@media (min-width: 768px) {
  .contacts__input-email {
    background-position: 519px 19.5px;
  }
}
.contacts__input-phone {
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: 170px 15px;
}
@media (min-width: 768px) {
  .contacts__input-phone {
    background-position: 500px 18.5px;
  }
}
.contacts__input {
  flex-grow: 1;
  margin-left: 13px;
  height: 45px;
  display: flex;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 14px 36px 13px 15px;
  outline: 1px solid #e7e7e7;
  border: 0;
}
@media (min-width: 768px) {
  .contacts__input {
    font-size: 20px;
    line-height: normal;
    height: 52px;
  }
}
.comment {
  margin: 0 0 24px 0;
  padding: 0;
  position: relative;
}
@media (min-width: 768px) {
  .comment {
    padding: 0 40px;
    margin-bottom: 53px;
  }
}
@media (min-width: 1440px) {
  .comment {
    padding: 0;
    margin-bottom: 67px;
  }
}
.comment::before {
  content: "";
  width: 159px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  right: -20px;
  top: -47px;
}
@media (min-width: 768px) {
  .comment::before {
    width: 476px;
    top: -88px;
    right: -30px;
  }
}
@media (min-width: 1440px) {
  .comment::before {
    width: 1108px;
    top: -88px;
    right: -110px;
  }
}
.comment::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  left: -40px;
  top: -88px;
  display: none;
}
@media (min-width: 768px) {
  .comment::after {
    display: block;
  }
}
@media (min-width: 1440px) {
  .comment::after {
    width: 70px;
    top: -88px;
    left: -110px;
  }
}
.comment__textarea {
  margin: 0;
  outline: 1px solid #e7e7e7;
  border: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  width: 280px;
  height: 150px;
  padding: 14px;
  box-sizing: border-box;
  resize: none;
}
@media (min-width: 768px) {
  .comment__textarea {
    width: 628px;
    height: 175px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .comment__textarea {
    width: 1220px;
    height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}
.extra {
  padding: 0;
  margin: 0 0 34px 0;
  position: relative;
}
@media (min-width: 768px) {
  .extra {
    padding: 0 40px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .extra {
    padding: 0;
    margin-bottom: 61px;
  }
}
.extra::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  left: -40px;
  top: -88px;
  display: none;
}
@media (min-width: 768px) {
  .extra::before {
    display: block;
  }
}
@media (min-width: 1440px) {
  .extra::before {
    width: 70px;
    top: -88px;
    left: -110px;
  }
}
.extra::after {
  width: 139px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  right: -20px;
  top: -43px;
  content: "";
}
@media (min-width: 768px) {
  .extra::after {
    width: 446px;
    top: -88px;
    right: -30px;
  }
}
@media (min-width: 1440px) {
  .extra::after {
    width: 1078px;
    top: -88px;
    right: -110px;
  }
}
.extra__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .extra__list {
    display: grid;
    grid-template-columns: repeat(2, 284px);
    row-gap: 32px;
    column-gap: 60px;
  }
}
@media (min-width: 1440px) {
  .extra__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}
.extra__item {
  height: 30px;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .extra__item {
    height: 40px;
  }
}
.extra__item:last-child {
  margin-bottom: 0;
}
.extra__control {
  position: relative;
  display: block;
  padding-left: 45px;
  height: 30px;
}
@media (min-width: 768px) {
  .extra__control {
    height: 40px;
    padding-left: 60px;
  }
}
.extra__control:hover .extra__control-mark {
  border: 1px solid #bababa;
}
.extra__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .extra__control-mark {
    width: 40px;
    height: 40px;
  }
}
.extra__control:hover .extra__control-input[type="radio"]:checked {
  border: 1px solid #bababa;
}
.extra__control-label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  height: 30px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .extra__control-label {
    font-size: 20px;
    line-height: normal;
    height: 40px;
  }
}
.extra__control-input[type="checkbox"]:checked + .extra__control-mark::before {
  position: absolute;
  top: 13px;
  left: 11px;
  width: 15px;
  height: 2px;
  background-color: #68b738;
  transform: rotate(135deg);
  content: "";
}
@media (min-width: 768px) {
  .extra__control-input[type="checkbox"]:checked + .extra__control-mark::before {
    top: 17px;
    left: 14px;
    width: 20px;
    height: 2px;
  }
}
.extra__control-input[type="checkbox"]:checked + .extra__control-mark::after {
  position: absolute;
  top: 15px;
  left: 5px;
  width: 10px;
  height: 2px;
  background-color: #68b738;
  transform: rotate(45deg);
  content: "";
}
@media (min-width: 768px) {
  .extra__control-input[type="checkbox"]:checked + .extra__control-mark::after {
    top: 20px;
    left: 8px;
    width: 12px;
    height: 2px;
  }
}
.logo__header {
  display: flex;
  width: 190px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .logo__header {
    width: 174px;
  }
}
@media (min-width: 1440px) {
  .logo__header {
    width: 202px;
  }
}
.logo__header:hover .logo__image-color {
  opacity: 0.8;
}
.logo__header:active .logo__image-color {
  opacity: 0.6;
}
@media (min-width: 1440px) {
  .logo__image {
    width: 118px;
    height: 21;
  }
}
.logo__footer:hover .logo__image-color {
  opacity: 0.8;
}
.logo__footer:active .logo__image-color {
  opacity: 0.6;
}
.changes-slider {
  z-index: 3;
  position: relative;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .changes-slider {
    background-color: transparent;
  }
}
@media (min-width: 1440px) {
  .changes-slider {
    background-color: transparent;
  }
}
.changes-slider__list {
  padding: 0;
  list-style-type: none;
  position: relative;
  height: 256px;
  width: 280px;
  margin: 20px 0 40px 0;
}
@media (min-width: 768px) {
  .changes-slider__list {
    width: 560px;
    height: 512px;
    margin: 0;
    margin-bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .changes-slider__list {
    margin-top: 20px;
  }
}
.changes-slider__item:first-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.changes-slider__item:last-child {
  height: 256px;
}
@media (min-width: 768px) {
  .changes-slider__item:last-child {
    height: 512px;
  }
}
.changes-slider__pic-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.changes-slider__item-div-1 {
  width: 140px;
  height: 256px;
  position: relative;
  margin-right: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .changes-slider__item-div-1 {
    width: 280px;
    height: 512px;
  }
}
.changes-slider__pic-2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
.changes-slider__item-div-2 {
  width: 140px;
  height: 256px;
  position: relative;
  margin-left: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .changes-slider__item-div-2 {
    width: 280px;
    height: 512px;
  }
}
.changes-slider__button {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 128px;
  left: 140px;
  z-index: 6;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .changes-slider__button {
    top: 256px;
    left: 364px;
  }
}
@media (min-width: 1440px) {
  .changes-slider__button {
    left: 260px;
  }
}
.changes-slider__button:hover .changes-slider__button-color {
  fill: #68b738;
}
.changes-slider__button:active {
  opacity: 0.6;
}
.changes-slider__button:active .changes-slider__button-color {
  fill: #68b738;
}
.changes-slider__button::before {
  content: "";
  width: 4px;
  height: 256px;
  background-color: #666666;
  position: absolute;
  top: -108px;
  left: 18px;
  z-index: -1;
}
@media (min-width: 768px) {
  .changes-slider__button::before {
    top: -238px;
    height: 512px;
  }
}
.changes-slider__button::before:hover {
  background-color: #68b738;
}
.slider-example-wrapper {
  background-color: #eaeaea;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .slider-example-wrapper {
    background-color: transparent;
  }
}
@media (min-width: 1440px) {
  .slider-example-wrapper {
    background-color: transparent;
    margin: 0 auto;
  }
}
.slider-example-wrapper::before {
  content: "";
  width: 100%;
  height: 462px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}
@media (min-width: 768px) {
  .slider-example-wrapper::before {
    display: block;
    background-color: #eaeaea;
  }
}
@media (min-width: 1440px) {
  .slider-example-wrapper::before {
    display: block;
  }
}
.slider-example-wrapper__position {
  display: grid;
  justify-content: center;
}
@media (min-width: 768px) {
  .slider-example-wrapper__position {
    background-color: transparent;
  }
}
@media (min-width: 1440px) {
  .slider-example-wrapper__position {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin: 0 auto;
    width: 1220px;
  }
}
.container {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
